html(lang='fr')
    head
        title Binding of Odul
        script(src="phaser.js")
        script(src="dungeon.js")
    body
    script(src="dist/socket.io.js")
    script(src="client/tilesMapping.js")
    script(src="client/tilemapVisibility.js")
    script(src="client/client.js")